# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ignore Mack's csv and xml files that are generated during testing
/src/scripts/*.csv
/src/scripts/*.xml

# ignore input csv and output xml files
/src/scripts/uploads/*
/src/scripts/downloads/*

# ignore imported python modules that get cached
**/__pycache__/